.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
.main-header .inner-wrapper{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding:  0 15px;
}
.main-header .inner-wrapper .logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}
.main-header .inner-wrapper .logo img{
    max-width: 50px;
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.main-header .inner-wrapper .logo .company-title{    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #e31e24;
    text-transform: uppercase;
}